/* global variables */
:root{
    --clr-primary: #3777aa;
    --clr-primary-light: #2284d3;
    --clr-white: #ffffff;
    --clr-white-light: #f0f0f0;
    --clr-showdow: #00000029;
    --clr-black: #333333;
    --clr-black-30: #2220204d;
    --clr-black-80: #222020cc;
    --clr-black-90: #212020e6;
    --clr-pink-light: #fdf2f2;
    --clr-blue-light: #f2fdfb;

    --box-shadow-lights: 0px 3px 7px var(var(--clr-showdow));
    --box-shadow-dark: 0px 3px 7px var(var(--clr-black-30));
    --font-family: Arial, Helvetica, sans-serif;
    --transition: all .3s liner;
    --radius: 4px;
}

/* global styles */
*:focus{
    outline-width: 2px;
    outline-offset: 1px;
    outline-color: var(--clr-primary);
}
*,::after,
 ::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    color: var(--clr-black);
    background: var(--clr-white);
    font-family: var(--font-family);
    line-height: 1.5;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
/* global class */
.wrapper{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.display-block{
    display: block !important;
}
.text-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.tex-center{
    text-align: center;
}
.tex-left{
    text-align: left;
}
.tex-right{
    text-align: right;
}

@media screen and (max-width: 991px) {
    .full-width-mobile{
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    .full-width-desktop{
        width: 100%;
    }
}
.light-pink-bg{
    background: var(--clr-blue-light);
}
.light-blue-bg
.section-title .title{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px;
    color: var(--clr-primary);
}
.section-title .underline{
    width: 60px;
    height: 5px;
    background: var(--clr-primary);
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--radius);
}
.primary-button-dark, 
.primary-button-white{
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    height: 45px;
    transition: var(--transition);
    font-size: 16px;
    letter-spacing: 1px;
    padding-left: 20px; 
    padding-right: 20px;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
}
.primary-button-dark{
    background: var(--clr-primary);
    color: var(--clr-white)
}
.primary-button-white{
    background: var(--clr-white);
    color: var(--clr-primary);
}
.primary-button-dark:hover{
    background: var(--clr-primary-light);
}
.primary-button-white:hover{
    background: var(--clr-white-light);
}
.primary-input, .primary-textarea{
    height: 45px;
    font-size: 16px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: calc(var(--radius)-2px);
    border: 1px solid var(--clr-showdow);
    letter-spacing: 1px;
    font-family: var(--font-family);
}
.primary-textarea{
    height: unset;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: vertical;
}
.primary-input::placeholder, .primary-textarea::placeholder{
    text-transform: capitalize;
}
@media screen and (min-width: 992px) {
    .primary-button-dark, .primary-button-white{
        height: 50px;
        min-width: 220px;
    }
    .primary-input{
        height: 50px;
    }
}

/* padding-class */


@media screen and (max-width:991px) {
    .paddingtopmobile-ten{
        padding-top: 10px !important;
    }
    .paddingtopmobile-twenty{
        padding-top: 20px !important;
    }
    .paddingtopmobile-thirty{
        padding-top: 30px !important;
    }
    .paddingtopmobile-fourty{
        padding-top: 40px !important;
    }
    .paddingtopmobile-fifty{
        padding-top: 50px !important;
    }
    
    .paddingbottommobile-ten{
        padding-bottom: 10px !important;
    }
    .paddingbottommobile-twenty{
        padding-bottom: 20px !important;
    }
    .paddingbottommobile-thirty{
        padding-bottom: 30px !important;
    }
    .paddingbottommobile-fourty{
        padding-bottom: 40px !important;
    }
    .paddingbottommobile-fifty{
        padding-bottom: 50px !important;
    }
}
@media screen and (min-width: 992px) {
    .paddingtopDesktop-ten{
        padding-top: 10px;
    }
    .paddingtopDesktop-twenty{
        padding-top: 20px;
    }
    .paddingtopDesktop-thirty{
        padding-top: 30px;
    }
    .paddingtopDesktop-fourty{
        padding-top: 40px;
    }
    .paddingtopDesktop-fifty{
        padding-top: 50px;
    }
    .paddingtopDesktop-sixty{
        padding-top: 60px;
    }
    .paddingtopDesktop-seventy{
        padding-top: 70px;
    }
    .paddingtopDesktop-eighty{
        padding-top: 80px;
    }
    .paddingtopDesktop-ninty{
        padding-top: 90px;
    }
    .paddingtopDesktop-hundred{
        padding-top: 100px;
    }

    .paddingbottomDesktop-ten{
        padding-bottom: 10px;
    }
    .paddingbottomDesktop-twenty{
        padding-bottom: 20px;
    }
    .paddingtopDesktop-thirty{
        padding-bottom: 30px;
    }
    .paddingbottomDesktop-fourty{
        padding-bottom: 40px;
    }
    .paddingbottomDesktop-fifty{
        padding-bottom: 50px;
    }
    .paddingbottomDesktop-sixty{
        padding-bottom: 60px;
    }
    .paddingbottomDesktop-seventy{
        padding-bottom: 70px;
    }
    .paddingbottomDesktop-eighty{
        padding-bottom: 80px;
    }
    .paddingbottomDesktop-ninty{
        padding-bottom: 90px;
    }
    .paddingbottomDesktop-hundred{
        padding-bottom: 100px;
    }
}

/* nav-styles */
.nav-container{
    background-color: var(--clr-black-90);
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-center{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.nav-container .logo-section {
    width: 30px;
}
.nav-container .hamburger{
    width: 25px;
}
.nav-container .nav-social-link{
    width: 30px;
}