.three-column-layout{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
/* @media screen and (min-width: 380px) {
    .blog-items{
        width: 350px;
    }
} */

.blog-container{
    margin: 10px;
}
@media screen and (min-width: 769px) {
    .three-column-layout{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .three-column-layout{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
body{
    background: rgb(242, 242, 242);
}
.blog-box input{
    width: 200px;
    height: 40px;
    padding: 10px;
    margin: 15px;
    border: none;
    transition: 0.2s;
    border: none;
    outline: none;
}
.blog-box input:focus{
    box-shadow: 5px 5px 0 black;
}
.search-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}
.search-bar button{
    background: dodgerblue;
    height: 38px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s linear;
    box-shadow: 0 7px #999;
}
.search-bar button:hover{
    background-color: rgb(25, 131, 238);
}
.search-bar button:active{
    background: rgb(58, 85, 206);
    transform: translateY(4px);
    box-shadow: 0 3px #666;
}
.blog-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 280px;
    min-height: 350px;
    border-radius: 5px;
    gap: 10px;
    background: white;
    position: relative;
}
 .blog-items img{
    border-top-left-radius: 5px;
    /* border-radius: 50%; */
    width:  90px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    background-position: center;
}
.blog-items button{
    background-color: white;
    border: none;
    color: rgb(126, 127, 128);
    font-size: 16px;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-bottom: 10px;
}
.blog-items .edit{
    background: rgb(1, 30, 40);
    width: 80px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 20px;
    transition: all 0.3s linear;
}
.blog-items button:active{

    transform: scale(0.9);
}
.blog-items button:hover{
    color: rgb(84, 104, 195);;   
}
.b-item{
    padding: 5px;
    margin-left: 5px;
    letter-spacing: 1px;
}
.blog-items .date {
    color: rgb(142, 144, 149);
    font-size: small;
}
.blog-items .author {
    color: rgb(84, 104, 195);
    font-size: 25px;
    font-weight: bold;
}
.blog-items .excerpt {
    color: rgb(94, 95, 98);
    font-size: 16px;
}
@media screen and (min-width: 300px)  {
    .blog-items{
        width: 90%;
    }
    .b-item{
        padding: 5px;
        margin-left: 15px;
        letter-spacing: 1px;
    }
}
@media screen and (min-width:900px)  {
    .blog-items{
        width: 350px;
    }
    .three-column-layout{
        grid-template-columns: 1fr 1fr;
    }
    .b-item{
        padding: 5px;
        margin-left: 15px;
        letter-spacing: 1px;
    }
}
@media screen and (min-width: 1200px)  {
    .blog-items{
        width: 350px;
    }
    .three-column-layout{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .b-item{
        padding: 5px;
        margin-left: 15px;
        letter-spacing: 1px;
    }
}
.blog-items .del{
    position: absolute;
    right: 0;
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    color: tomato;
}
.blog-items .del:hover{
    color: white;
    background-color: tomato;
}
.blog-post input{
    height: 30px;
    padding: 15px;
    margin: 5px;
}
.blog-post button{
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: rgb(211, 206, 206);
    cursor: pointer;
    transition: all 0.3s ease;
}
.blog-post button:hover{
    background: rgb(12, 170, 227);
}