
.landing-container{
    height: 100vh;
}
.landing-container .linding-items .titile{
    background: -webkit-linear-gradient(#eee, #333);
    letter-spacing: 1px;
    text-transform: capitalize;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    text-align: center;
}
.landing-container .linding-items .tag{
    color: gray;
    letter-spacing: 1px;
    text-align: center;
}
.titles{
    margin-top: 60px;
    line-height:0;
}
.linding-box{
    height: 500px;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    
    border-radius: 10px;
    background-color: rgb(84, 86, 89);
}